<% provide(:title, "PROFILE") %>

<div class="container jumbotron">
  <h1>PROFIEL</h1>
  <div class="tarea">
    <table>
        <tr>
          <td class="item">Name</td>
          <td class="contents">高木　真鈴</td>
        </tr>
        <tr>
          <td class="item">Age</td>
          <td class="contents">32</td>
        </tr>
        <tr>
          <td class="item">Stay</td>
          <td class="contents">千葉県佐倉市</td>
        </tr>
        <tr>
          <td class="item">Job</td>
          <td class="contents">主婦</td>
        </tr>
        <tr>
          <td class="item">Career</td>
          <td class="contents">陸上自衛隊<br>
              昭和音楽大学短期大学部　サックス専攻<br>
              携帯電話販売<br>
              リンガーハット　ホールスタッフ<br>
              ホテルミラコスタ　ドアマン
         </td>
        </tr>
        <tr>
          <td class="item">Study</td>
          <td class="contents">HTML、HTML5、CSS、CSS3、Bootstrap、JavaScript、Ruby on Rails</td>
        </tr>
    </table>
    <table>
      <tr>
        <td class="item">Comment</td>
        <td class="comment_contents">この度はご訪問いただき、誠にありがとうございます。<br>
            現在千葉県で専業主婦をしながら子育てをしております。<br>
            子どもたちとの時間を出来る限り多く取りたいと思い、<br>
            この期間を利用してプログラミングの勉強をしてきました。<br>
            勉強に一区切りつきましたので現在の実力を試すべく、<br>
            まずは自身のポートフォリオサイトを開設するに至りました。<br>
            今後はこのスキルを活かした仕事ができればと思っております。<br>
        </td>
      </tr>
    </table>
  </div>
</div>
