<% provide(:title, "portfolio index") %>

<h1>INDEX</h1>
<div class="container center">
      <% @works.each do |work| %>
          <div class="thumb-phone">
            <p><%= link_to image_tag(work.image.url, class: "phones-thumb-image"), work if work.image? %></p>
            <p class=phones-contents-text><%= link_to work.name, work %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
