<h1><%= @work.name %></h1>

<div class="center jumbotron">
<p><%= image_tag @work.image %></p>
<p><%= @work.contents %></p>
</div>

<p><%= button_to "戻る", { :action => "index" },{ :method => :get} %></p>
